<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link th:href="${'/css/custom.css'}" rel="stylesheet"/>
    <link th:href="${'/css/styles.css'}" rel="stylesheet"/>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" th:href="@{/}">Brasserie</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
</nav>
<div id="layoutSidenav">
    <div th:insert="~{/left_bar}"></div>
    <div id="layoutSidenav_content">
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <span>Marque & Brasserie</span>
                    </div>
                    <div class="card-body">
                        <form>
                            <label class="form-control">Nom de la marque <input class="right" type="text" disabled
                                                                                th:value="${biere.getMarque().getNomMarque()}"/></label>
                            <label class="form-control">Identifiant de la brasserie <input class="right" type="text"
                                                                                           disabled
                                                                                           th:value="${biere.getMarque().getBrasserie().getCodeBrasserie()}"/></label>
                            <label class="form-control">Nom de la brasserie <input class="right" type="text" disabled
                                                                                   th:value="${biere.getMarque().getBrasserie().getNomBrasserie()}"/></label>
                            <label class="form-control">Ville <input class="right" type="text" disabled
                                                                     th:value="${biere.getMarque().getBrasserie().getVille()}"/></label>
                            <label class="form-control">Région <input class="right" type="text" disabled
                                                                      th:value="${biere.getMarque().getBrasserie().getRegion().getNomRegion()}"/></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <span>Détails</span>
                    </div>
                    <div class="card-body">
                        <form>
                            <label class="form-control">Version <input class="right" type="text" disabled
                                                                       th:value="${biere.getVersion()}"/></label>
                            <label class="form-control">Couleur <input class="right" type="text" disabled
                                                                       th:value="${biere.getCouleurBiere()}"/></label>
                            <label class="form-control">Taux d'alcool <input class="right" type="text" disabled
                                                                             th:value="${biere.getTauxAlcool()}"/></label>
                            <label class="form-control">Caracteristiques <textarea class="right" disabled
                                                                                   th:text="${biere.getCaracteristiques()}"></textarea></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mb-12">
                        <div class="card-header">
                            <span>Type de bière</span>
                        </div>
                        <div class="card-body">
                            <form>
                                <label class="form-control">Type de bière <input class="right" disabled
                                                                                 th:value="${biere.getType().getNomType()}"/></label>
                                <label class="form-control">Description <input class="right" disabled
                                                                               th:value="${biere.getType().getDescription()}"/></label>
                                <label class="form-control">Fermentation <input class="right" disabled
                                                                                th:value="${biere.getType().getFermentation()}"/></label>
                                <label class="form-control">Commentaire <input class="right" disabled
                                                                               th:value="${biere.getType().getCommentaire()}"/></label>
                            </form>

                            <form method="GET" th:action="@{/mod-beer}">
                                <input  th:value="${biere.getMarque().getNomMarque()}" name="nomMarque" hidden>
                                <input  th:value="${biere.getVersion()}" name="nomVersion" hidden>
                                <button type="submit">modify</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="${'/js/scripts.js'}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</body>
</html>